---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-machine-learning/resources/bANLa) course resource._

---

## Assignment 4 - Understanding and Predicting Property Maintenance Fines

This assignment is based on a data challenge from the Michigan Data Science Team ([MDST](http://midas.umich.edu/mdst/)). 

The Michigan Data Science Team ([MDST](http://midas.umich.edu/mdst/)) and the Michigan Student Symposium for Interdisciplinary Statistical Sciences ([MSSISS](https://sites.lsa.umich.edu/mssiss/)) have partnered with the City of Detroit to help solve one of the most pressing problems facing Detroit - blight. [Blight violations](http://www.detroitmi.gov/How-Do-I/Report/Blight-Complaint-FAQs) are issued by the city to individuals who allow their properties to remain in a deteriorated condition. Every year, the city of Detroit issues millions of dollars in fines to residents and every year, many of these fines remain unpaid. Enforcing unpaid blight fines is a costly and tedious process, so the city wants to know: how can we increase blight ticket compliance?

The first step in answering this question is understanding when and why a resident might fail to comply with a blight ticket. This is where predictive modeling comes in. For this assignment, your task is to predict whether a given blight ticket will be paid on time.

All data for this assignment has been provided to us through the [Detroit Open Data Portal](https://data.detroitmi.gov/). **Only the data already included in your Coursera directory can be used for training the model for this assignment.** Nonetheless, we encourage you to look into data from other Detroit datasets to help inform feature creation and model selection. We recommend taking a look at the following related datasets:

* [Building Permits](https://data.detroitmi.gov/Property-Parcels/Building-Permits/xw2a-a7tf)
* [Trades Permits](https://data.detroitmi.gov/Property-Parcels/Trades-Permits/635b-dsgv)
* [Improve Detroit: Submitted Issues](https://data.detroitmi.gov/Government/Improve-Detroit-Submitted-Issues/fwz3-w3yn)
* [DPD: Citizen Complaints](https://data.detroitmi.gov/Public-Safety/DPD-Citizen-Complaints-2016/kahe-efs3)
* [Parcel Map](https://data.detroitmi.gov/Property-Parcels/Parcel-Map/fxkw-udwf)

___

We provide you with two data files for use in training and validating your models: train.csv and test.csv. Each row in these two files corresponds to a single blight ticket, and includes information about when, why, and to whom each ticket was issued. The target variable is compliance, which is True if the ticket was paid early, on time, or within one month of the hearing data, False if the ticket was paid after the hearing date or not at all, and Null if the violator was found not responsible. Compliance, as well as a handful of other variables that will not be available at test-time, are only included in train.csv.

Note: All tickets where the violators were found not responsible are not considered during evaluation. They are included in the training set as an additional source of data for visualization, and to enable unsupervised and semi-supervised approaches. However, they are not included in the test set.

<br>

**File descriptions** (Use only this data for training your model!)

    train.csv - the training set (all tickets issued 2004-2011)
    test.csv - the test set (all tickets issued 2012-2016)
    addresses.csv & latlons.csv - mapping from ticket id to addresses, and from addresses to lat/lon coordinates. 
     Note: misspelled addresses may be incorrectly geolocated.

<br>

**Data fields**

train.csv & test.csv

    ticket_id - unique identifier for tickets
    agency_name - Agency that issued the ticket
    inspector_name - Name of inspector that issued the ticket
    violator_name - Name of the person/organization that the ticket was issued to
    violation_street_number, violation_street_name, violation_zip_code - Address where the violation occurred
    mailing_address_str_number, mailing_address_str_name, city, state, zip_code, non_us_str_code, country - Mailing address of the violator
    ticket_issued_date - Date and time the ticket was issued
    hearing_date - Date and time the violator's hearing was scheduled
    violation_code, violation_description - Type of violation
    disposition - Judgment and judgement type
    fine_amount - Violation fine amount, excluding fees
    admin_fee - $20 fee assigned to responsible judgments
state_fee - $10 fee assigned to responsible judgments
    late_fee - 10% fee assigned to responsible judgments
    discount_amount - discount applied, if any
    clean_up_cost - DPW clean-up or graffiti removal cost
    judgment_amount - Sum of all fines and fees
    grafitti_status - Flag for graffiti violations
    
train.csv only

    payment_amount - Amount paid, if any
    payment_date - Date payment was made, if it was received
    payment_status - Current payment status as of Feb 1 2017
    balance_due - Fines and fees still owed
    collection_status - Flag for payments in collections
    compliance [target variable for prediction] 
     Null = Not responsible
     0 = Responsible, non-compliant
     1 = Responsible, compliant
    compliance_detail - More information on why each ticket was marked compliant or non-compliant


___

## Evaluation

Your predictions will be given as the probability that the corresponding blight ticket will be paid on time.

The evaluation metric for this assignment is the Area Under the ROC Curve (AUC). 

Your grade will be based on the AUC score computed for your classifier. A model which with an AUROC of 0.7 passes this assignment, over 0.75 will recieve full points.
___

For this assignment, create a function that trains a model to predict blight ticket compliance in Detroit using `train.csv`. Using this model, return a series of length 61001 with the data being the probability that each corresponding ticket from `test.csv` will be paid, and the index being the ticket_id.

Example:

    ticket_id
       284932    0.531842
       285362    0.401958
       285361    0.105928
       285338    0.018572
                 ...
       376499    0.208567
       376500    0.818759
       369851    0.018528
       Name: compliance, dtype: float32

In [109]:
import pandas as pd
import numpy as np

def blight_model():
    
    # Your cncoding='ode here
    
    return result# Your answer here

In [2]:
train= pd.read_csv('train.csv', encoding='iso-8859-1')
test= pd.read_csv('test.csv', encoding='iso-8859-1')

/opt/conda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (11,12,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
train.head(2)

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0

In [4]:
address=pd.read_csv('addresses.csv')
latlons=pd.read_csv('latlons.csv')

In [5]:
address.head(2)

   ticket_id                   address
0      22056    2900 tyler, Detroit MI
1      27586  4311 central, Detroit MI

In [6]:
latlons.head(2)

                                  address        lat        lon
0  4300 rosa parks blvd, Detroit MI 48208  42.346169 -83.079962
1                14512 sussex, Detroit MI  42.394657 -83.194265

In [7]:
Merged=address.merge(latlons, on='address')

In [8]:
Merged.head(2)

   ticket_id                 address        lat        lon
0      22056  2900 tyler, Detroit MI  42.390729 -83.124268
1      77242  2900 tyler, Detroit MI  42.390729 -83.124268

In [9]:
Merged=Merged.set_index('ticket_id')

In [10]:
Merged.head(2)

                          address        lat        lon
ticket_id
22056      2900 tyler, Detroit MI  42.390729 -83.124268
77242      2900 tyler, Detroit MI  42.390729 -83.124268

In [11]:
train.head(2)

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0

In [12]:
train=train.set_index('ticket_id')

In [13]:
test=test.set_index('ticket_id')

In [14]:
test.head(2)

,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,state,...,violation_description,disposition,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,grafitti_status
ticket_id,,,,,,,,,,,,,,,,,,,,,
284932,Department of Public Works,"Granberry, Aisha B","FLUELLEN, JOHN A",10041.0,ROSEBERRY,NaN,141,ROSEBERRY,DETROIT,MI,...,Failure to secure City or Private solid waste ...,Responsible by Default,200.0,20.0,10.0,20.0,0.0,0.0,250.0,NaN
285362,Department of Public Works,"Lusk, Gertrina","WHIGHAM, THELMA",18520.0,EVERGREEN,NaN,19136,GLASTONBURY,DETROIT,MI,...,Allowing bulk solid waste to lie or accumulate...,Responsible by Default,1000.0,20.0,10.0,100.0,0.0,0.0,1130.0,NaN

In [15]:
train.columns

Index(['agency_name', 'inspector_name', 'violator_name',
       'violation_street_number', 'violation_street_name',
       'violation_zip_code', 'mailing_address_str_number',
       'mailing_address_str_name', 'city', 'state', 'zip_code',
       'non_us_str_code', 'country', 'ticket_issued_date', 'hearing_date',
       'violation_code', 'violation_description', 'disposition', 'fine_amount',
       'admin_fee', 'state_fee', 'late_fee', 'discount_amount',
       'clean_up_cost', 'judgment_amount', 'payment_amount', 'balance_due',
       'payment_date', 'payment_status', 'collection_status',
       'grafitti_status', 'compliance_detail', 'compliance'],
      dtype='object')

In [16]:
test.columns

Index(['agency_name', 'inspector_name', 'violator_name',
       'violation_street_number', 'violation_street_name',
       'violation_zip_code', 'mailing_address_str_number',
       'mailing_address_str_name', 'city', 'state', 'zip_code',
       'non_us_str_code', 'country', 'ticket_issued_date', 'hearing_date',
       'violation_code', 'violation_description', 'disposition', 'fine_amount',
       'admin_fee', 'state_fee', 'late_fee', 'discount_amount',
       'clean_up_cost', 'judgment_amount', 'grafitti_status'],
      dtype='object')

In [17]:
train=train.dropna(subset=['compliance'])

In [18]:
train.shape

(159880, 33)

In [19]:
train.head(2)

,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,state,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
ticket_id,,,,,,,,,,,,,,,,,,,,,
22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,IL,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,MI,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0

In [20]:
train.head(1
)

,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,state,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
ticket_id,,,,,,,,,,,,,,,,,,,,,
22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,IL,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0

In [21]:
Merged.head(1)

                          address        lat        lon
ticket_id
22056      2900 tyler, Detroit MI  42.390729 -83.124268

In [22]:
train1=train.join(Merged)

In [23]:
train1.head(1)

,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,state,...,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance,address,lat,lon
ticket_id,,,,,,,,,,,,,,,,,,,,,
22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,IL,...,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0,"2900 tyler, Detroit MI",42.390729,-83.124268

In [24]:
train1.shape

(159880, 36)

In [25]:
test1=test.join(Merged)

In [26]:
test1.head(1)

,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,state,...,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,grafitti_status,address,lat,lon
ticket_id,,,,,,,,,,,,,,,,,,,,,
284932,Department of Public Works,"Granberry, Aisha B","FLUELLEN, JOHN A",10041.0,ROSEBERRY,NaN,141,ROSEBERRY,DETROIT,MI,...,20.0,10.0,20.0,0.0,0.0,250.0,NaN,"10041 roseberry, Detroit MI",42.407581,-82.986642

In [27]:
test1.shape

(61001, 29)

In [28]:
train1.columns

Index(['agency_name', 'inspector_name', 'violator_name',
       'violation_street_number', 'violation_street_name',
       'violation_zip_code', 'mailing_address_str_number',
       'mailing_address_str_name', 'city', 'state', 'zip_code',
       'non_us_str_code', 'country', 'ticket_issued_date', 'hearing_date',
       'violation_code', 'violation_description', 'disposition', 'fine_amount',
       'admin_fee', 'state_fee', 'late_fee', 'discount_amount',
       'clean_up_cost', 'judgment_amount', 'payment_amount', 'balance_due',
       'payment_date', 'payment_status', 'collection_status',
       'grafitti_status', 'compliance_detail', 'compliance', 'address', 'lat',
       'lon'],
      dtype='object')

In [29]:
train1.dtypes

agency_name                    object
inspector_name                 object
violator_name                  object
violation_street_number       float64
violation_street_name          object
violation_zip_code            float64
mailing_address_str_number    float64
mailing_address_str_name       object
city                           object
state                          object
zip_code                       object
non_us_str_code                object
country                        object
ticket_issued_date             object
hearing_date                   object
violation_code                 object
violation_description          object
disposition                    object
fine_amount                   float64
admin_fee                     float64
state_fee                     float64
late_fee                      float64
discount_amount               float64
clean_up_cost                 float64
judgment_amount               float64
payment_amount                float64
balance_due                   float64
payment_date                   object
payment_status                 object
collection_status              object
grafitti_status                object
compliance_detail              object
compliance                    float64
address                        object
lat                           float64
lon                           float64
dtype: object

In [30]:
test1.dtypes

agency_name                    object
inspector_name                 object
violator_name                  object
violation_street_number       float64
violation_street_name          object
violation_zip_code             object
mailing_address_str_number     object
mailing_address_str_name       object
city                           object
state                          object
zip_code                       object
non_us_str_code               float64
country                        object
ticket_issued_date             object
hearing_date                   object
violation_code                 object
violation_description          object
disposition                    object
fine_amount                   float64
admin_fee                     float64
state_fee                     float64
late_fee                      float64
discount_amount               float64
clean_up_cost                 float64
judgment_amount               float64
grafitti_status                object
address                        object
lat                           float64
lon                           float64
dtype: object

In [31]:
train.shape

(159880, 33)

In [32]:
train1.hearing_date.head(1)

ticket_id
22056    2005-03-21 10:30:00
Name: hearing_date, dtype: object

In [33]:
train1.ticket_issued_date.head(1)

ticket_id
22056    2004-03-16 11:40:00
Name: ticket_issued_date, dtype: object

In [34]:
train.columns

Index(['agency_name', 'inspector_name', 'violator_name',
       'violation_street_number', 'violation_street_name',
       'violation_zip_code', 'mailing_address_str_number',
       'mailing_address_str_name', 'city', 'state', 'zip_code',
       'non_us_str_code', 'country', 'ticket_issued_date', 'hearing_date',
       'violation_code', 'violation_description', 'disposition', 'fine_amount',
       'admin_fee', 'state_fee', 'late_fee', 'discount_amount',
       'clean_up_cost', 'judgment_amount', 'payment_amount', 'balance_due',
       'payment_date', 'payment_status', 'collection_status',
       'grafitti_status', 'compliance_detail', 'compliance'],
      dtype='object')

In [35]:
train1.columns

Index(['agency_name', 'inspector_name', 'violator_name',
       'violation_street_number', 'violation_street_name',
       'violation_zip_code', 'mailing_address_str_number',
       'mailing_address_str_name', 'city', 'state', 'zip_code',
       'non_us_str_code', 'country', 'ticket_issued_date', 'hearing_date',
       'violation_code', 'violation_description', 'disposition', 'fine_amount',
       'admin_fee', 'state_fee', 'late_fee', 'discount_amount',
       'clean_up_cost', 'judgment_amount', 'payment_amount', 'balance_due',
       'payment_date', 'payment_status', 'collection_status',
       'grafitti_status', 'compliance_detail', 'compliance', 'address', 'lat',
       'lon'],
      dtype='object')

In [36]:
train1.lat.isnull().values.any

In [37]:
train.hearing_date.head(1)

ticket_id
22056    2005-03-21 10:30:00
Name: hearing_date, dtype: object

In [38]:
train1.ticket_issued_date.head(1)

ticket_id
22056    2004-03-16 11:40:00
Name: ticket_issued_date, dtype: object

In [39]:
test1.columns

Index(['agency_name', 'inspector_name', 'violator_name',
       'violation_street_number', 'violation_street_name',
       'violation_zip_code', 'mailing_address_str_number',
       'mailing_address_str_name', 'city', 'state', 'zip_code',
       'non_us_str_code', 'country', 'ticket_issued_date', 'hearing_date',
       'violation_code', 'violation_description', 'disposition', 'fine_amount',
       'admin_fee', 'state_fee', 'late_fee', 'discount_amount',
       'clean_up_cost', 'judgment_amount', 'grafitti_status', 'address', 'lat',
       'lon'],
      dtype='object')

In [40]:
column_remove=['agency_name', 'inspector_name', 'violator_name',
       'violation_street_number', 'violation_street_name',
       'violation_zip_code', 'mailing_address_str_number',
       'mailing_address_str_name', 'city', 'state', 'zip_code',
       'non_us_str_code', 'country','violation_code', 'violation_description', 'disposition'
        ,'grafitti_status', 'address']

In [41]:
test1.dtypes

agency_name                    object
inspector_name                 object
violator_name                  object
violation_street_number       float64
violation_street_name          object
violation_zip_code             object
mailing_address_str_number     object
mailing_address_str_name       object
city                           object
state                          object
zip_code                       object
non_us_str_code               float64
country                        object
ticket_issued_date             object
hearing_date                   object
violation_code                 object
violation_description          object
disposition                    object
fine_amount                   float64
admin_fee                     float64
state_fee                     float64
late_fee                      float64
discount_amount               float64
clean_up_cost                 float64
judgment_amount               float64
grafitti_status                object
address                        object
lat                           float64
lon                           float64
dtype: object

In [42]:
column_remove

['agency_name',
 'inspector_name',
 'violator_name',
 'violation_street_number',
 'violation_street_name',
 'violation_zip_code',
 'mailing_address_str_number',
 'mailing_address_str_name',
 'city',
 'state',
 'zip_code',
 'non_us_str_code',
 'country',
 'violation_code',
 'violation_description',
 'disposition',
 'grafitti_status',
 'address']

In [43]:
test1.drop(column_remove, axis=1, inplace=True)

In [44]:
test1.head(2)

,ticket_issued_date,hearing_date,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,lat,lon
ticket_id,,,,,,,,,,,
284932,2012-01-04 14:00:00,2012-01-19 09:00:00,200.0,20.0,10.0,20.0,0.0,0.0,250.0,42.407581,-82.986642
285362,2012-01-05 09:50:00,2012-02-06 09:00:00,1000.0,20.0,10.0,100.0,0.0,0.0,1130.0,42.426239,-83.238259

In [45]:
train1.drop(column_remove, axis=1, inplace=True)

In [46]:
train1.head(2)

,ticket_issued_date,hearing_date,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,compliance_detail,compliance,lat,lon
ticket_id,,,,,,,,,,,,,,,,,,
22056,2004-03-16 11:40:00,2005-03-21 10:30:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,non-compliant by no payment,0.0,42.390729,-83.124268
27586,2004-04-23 12:30:00,2005-05-06 13:30:00,750.0,20.0,10.0,75.0,0.0,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,compliant by late payment within 1 month,1.0,42.326937,-83.135118

In [47]:
train1.columns

Index(['ticket_issued_date', 'hearing_date', 'fine_amount', 'admin_fee',
       'state_fee', 'late_fee', 'discount_amount', 'clean_up_cost',
       'judgment_amount', 'payment_amount', 'balance_due', 'payment_date',
       'payment_status', 'collection_status', 'compliance_detail',
       'compliance', 'lat', 'lon'],
      dtype='object')

In [48]:
train1.drop(['payment_amount', 'balance_due', 'payment_date','payment_status', 'collection_status', 'compliance_detail'],axis=1, inplace=True)

In [49]:
train1.head(2)

,ticket_issued_date,hearing_date,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,compliance,lat,lon
ticket_id,,,,,,,,,,,,
22056,2004-03-16 11:40:00,2005-03-21 10:30:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,0.0,42.390729,-83.124268
27586,2004-04-23 12:30:00,2005-05-06 13:30:00,750.0,20.0,10.0,75.0,0.0,0.0,855.0,1.0,42.326937,-83.135118

In [50]:
test1.head(2)

,ticket_issued_date,hearing_date,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,lat,lon
ticket_id,,,,,,,,,,,
284932,2012-01-04 14:00:00,2012-01-19 09:00:00,200.0,20.0,10.0,20.0,0.0,0.0,250.0,42.407581,-82.986642
285362,2012-01-05 09:50:00,2012-02-06 09:00:00,1000.0,20.0,10.0,100.0,0.0,0.0,1130.0,42.426239,-83.238259

In [51]:
train1.shape

(159880, 12)

In [52]:
test1.shape

(61001, 11)

In [53]:
train1.ticket_issued_date=pd.to_datetime(train1.ticket_issued_date)

In [54]:
train1.ticket_issued_date.dtype

dtype('<M8[ns]')

In [55]:
test1.ticket_issued_date.dtype

dtype('O')

In [56]:
test1.ticket_issued_date=pd.to_datetime(test1.ticket_issued_date)

In [58]:
train1.columns

Index(['ticket_issued_date', 'hearing_date', 'fine_amount', 'admin_fee',
       'state_fee', 'late_fee', 'discount_amount', 'clean_up_cost',
       'judgment_amount', 'compliance', 'lat', 'lon'],
      dtype='object')

In [59]:
test1.columns

Index(['ticket_issued_date', 'hearing_date', 'fine_amount', 'admin_fee',
       'state_fee', 'late_fee', 'discount_amount', 'clean_up_cost',
       'judgment_amount', 'lat', 'lon'],
      dtype='object')

In [60]:
train1.hearing_date=pd.to_datetime(train1.hearing_date)

In [61]:
test1.hearing_date=pd.to_datetime(test1.hearing_date)

In [62]:
train1.hearing_date.dtype

dtype('<M8[ns]')

In [63]:
train1.head(2)

,ticket_issued_date,hearing_date,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,compliance,lat,lon
ticket_id,,,,,,,,,,,,
22056,2004-03-16 11:40:00,2005-03-21 10:30:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,0.0,42.390729,-83.124268
27586,2004-04-23 12:30:00,2005-05-06 13:30:00,750.0,20.0,10.0,75.0,0.0,0.0,855.0,1.0,42.326937,-83.135118

In [64]:
y_train1=train1.compliance

In [65]:
y_train1.head(2)

ticket_id
22056    0.0
27586    1.0
Name: compliance, dtype: float64

In [66]:
X_train=train1.copy()

In [67]:
X_train.head(3)

,ticket_issued_date,hearing_date,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,compliance,lat,lon
ticket_id,,,,,,,,,,,,
22056,2004-03-16 11:40:00,2005-03-21 10:30:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,0.0,42.390729,-83.124268
27586,2004-04-23 12:30:00,2005-05-06 13:30:00,750.0,20.0,10.0,75.0,0.0,0.0,855.0,1.0,42.326937,-83.135118
22046,2004-05-01 11:50:00,2005-03-21 10:30:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,0.0,42.145257,-83.208233

In [74]:
train1=train1.drop('compliance', axis=1)

In [75]:
train1

,ticket_issued_date,hearing_date,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,lat,lon
ticket_id,,,,,,,,,,,
22056,2004-03-16 11:40:00,2005-03-21 10:30:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,42.390729,-83.124268
27586,2004-04-23 12:30:00,2005-05-06 13:30:00,750.0,20.0,10.0,75.0,0.0,0.0,855.0,42.326937,-83.135118
22046,2004-05-01 11:50:00,2005-03-21 10:30:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,42.145257,-83.208233
18738,2004-06-14 14:15:00,2005-02-22 15:00:00,750.0,20.0,10.0,75.0,0.0,0.0,855.0,42.433466,-83.023493
18735,2004-06-16 12:30:00,2005-02-22 15:00:00,100.0,20.0,10.0,10.0,0.0,0.0,140.0,42.388641,-83.037858
18733,2004-06-16 12:25:00,2005-02-22 15:00:00,100.0,20.0,10.0,10.0,0.0,0.0,140.0,42.388641,-83.037858
28204,2004-07-12 13:30:00,2005-05-31 13:30:00,750.0,20.0,10.0,75.0,0.0,0.0,855.0,42.435773,-82.963348
18743,2004-07-28 12:15:00,2005-02-22 15:00:00,750.0,20.0,10.0,75.0,0.0,0.0,855.0,42.395765,-83.022333
18741,2004-08-05 15:00:00,2005-02-22 15:00:00,750.0,20.0,10.0,75.0,0.0,0.0,855.0,42.440190,-83.180488
18978,2004-08-23 14:15:00,2005-02-28 15:00:00,750.0,20.0,10.0,75.0,0.0,0.0,855.0,42.399222,-83.023161
18746,2004-10-07 12:00:00,2005-02-22 15:00:00,100.0,20.0,10.0,10.0,0.0,0.0,140.0,42.360836,-82.930958
18744,2004-10-07 12:00:00,2005-02-22 15:00:00,100.0,20.0,10.0,10.0,0.0,0.0,140.0,42.360836,-82.930958
26846,2004-10-13 02:45:00,2005-04-21 13:30:00,750.0,20.0,10.0,75.0,0.0,0.0,855.0,42.341729,-83.262245
26848,2004-10-13 14:15:00,2005-04-21 13:30:00,750.0,20.0,10.0,75.0,0.0,0.0,855.0,42.341620,-83.127416
28209,2004-10-28 11:00:00,2005-05-31 13:30:00,750.0,20.0,10.0,75.0,0.0,0.0,855.0,42.435592,-82.958282
19950,2005-01-01 11:00:00,2005-02-10 15:00:00,100.0,20.0,10.0,0.0,0.0,0.0,130.0,42.385741,-83.178017
18645,2005-01-13 14:00:00,2005-02-07 09:00:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,42.383385,-83.072582
18651,2005-01-14 14:25:00,2005-02-14 09:00:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,42.389290,-83.134006
18649,2005-01-14 14:50:00,2005-02-14 09:00:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,42.393440,-83.127929
18664,2005-01-14 09:30:00,2005-03-23 15:00:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,42.335224,-83.044366
18646,2005-01-14 00:45:00,2005-02-14 09:00:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,42.383422,-83.072483
18661,2005-01-14 10:15:00,2005-02-18 15:00:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,42.335128,-83.045639
18657,2005-01-14 10:00:00,2005-02-18 15:00:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,42.388282,-82.942000
18652,2005-01-14 15:10:00,2005-02-14 09:00:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,42.374155,-83.036099
18665,2005-01-14 10:35:00,2005-02-18 15:00:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,42.335913,-83.047223
18650,2005-01-14 14:05:00,2005-02-14 09:00:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,42.389689,-83.134415
18653,2005-01-14 15:15:00,2005-02-23 09:00:00,250.0,20.0,10.0,0.0,25.0,0.0,280.0,42.339391,-83.019373
18658,2005-01-14 10:00:00,2005-02-04 13:30:00,250.0,20.0,10.0,0.0,0.0,0.0,280.0,42.371792,-82.946057
18666,2005-01-14 10:40:00,2005-02-18 15:00:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,42.335846,-83.043858
18655,2005-01-14 15:40:00,2005-02-14 09:00:00,250.0,20.0,10.0,0.0,25.0,0.0,280.0,42.382392,-83.083671
...,...,...,...,...,...,...,...,...,...,...,...
268081,2011-12-22 09:00:00,2011-03-17 15:00:00,750.0,20.0,10.0,75.0,0.0,0.0,855.0,42.357540,-83.237964
267964,2011-12-22 09:00:00,2011-05-12 15:00:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,42.385938,-83.238301
267966,2011-12-22 09:00:00,2011-03-02 15:00:00,250.0,20.0,10.0,0.0,0.0,0.0,280.0,42.369046,-83.183197
267974,2011-12-22 09:00:00,2011-03-17 15:00:00,500.0,20.0,10.0,50.0,0.0,0.0,580.0,42.368735,-83.172476
267985,2011-12-22 09:00:00,2011-03-17 15:00:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,42.368735,-83.172476
267970,2011-12-22 09:00:00,2011-03-03 15:00:00,250.0,20.0,10.0,25.0,0.0,0.0,305.0,42.368735,-83.172476
284870,2011-12-23 15:00:00,2012-01-06 10:30:00,1000.0,20.0,10.0,100.0,0.0,0.0,1130.0,42.424312,-83.027929
284873,2011-12-24 11:30:00,2012-01-13 10:30:00,1000.0,20.0,10.0,100.0,0.0,0.0,1130.0,42.439131,-83.070548
284871,2011-12-24 11:30:00,2012-01-13 10:30:00,1000.0,20.0,10.0,100.0,0.0,0.0,1130.0,42.439143,-83.070182
284875,2011-12-24 11:30:00,2012-01-13 10:30:00,100.0,20.0,10.0,10.0,0.0,0.0,140.0,42.439131,-83.070548
284874,2011-12-24 11:30:00,2012-01-13 10:30:00,100.0,20.0,10.0,10.0,0.0,0.0,140.0,42.439131,-83.070548
285091,2011-12-27 12:55:00,2012-01-27 09:00:00,50.0,20.0,10.0,5.0,0.0,0.0,85.0,42.394788,-83.214473
285508,2011-12-27 13:00:00,2012-02-10 09:00:00,0.0,20.0,10.0,0.0,0.0,0.0,0.0,42.393397,-83.211176
285093,2011-12-27 13:10:00,2012-01-27 09:00:00,50.0,20.0,10.0,5.0,0.0,0.0,85.0,42.387270,-83.208856
285095,2011-12-27 13:10:00,2012-01-27 09:00:00,50.0,20.0,10.0,5.0,0.0,0.0,85.0,42.387270,-83.208856
285121,2011-12-27 13:10:00,2012-02-03 09:00:00,50.0,20.0,10.0,5.0,0.0,0.0,85.0,42.387270,-83.208856
285122,2011-12-27 13:10:00,2012-02-03 09:00:00,50.0,20.0,10.0,5.0,0.0,0.0,85.0,42.387270,-83.208856
285120,2011-12-27 13:10:00,2012-02-03 09:00:00,50.0,20.0,10.0,5.0,0.0,0.0,85.0,42.387270,-83.208856
285123,2011-12-27 13:10:00,2012-02-03 09:00:00,50.0,20.0,10.0,5.0,0.0,0.0,85.0,42.387270,-83.208856
285092,2011-12-27 13:10:00,2012-01-27 09:00:00,50.0,20.0,10.0,5.0,0.0,0.0,85.0,42.387270,-83.208856
285094,2011-12-27 13:10:00,2012-01-27 09:00:00,50.0,20.0,10.0,5.0,0.0,0.0,85.0,42.387270,-83.208856
285096,2011-12-27 13:10:00,2012-01-27 09:00:00,1000.0,20.0,10.0,100.0,0.0,0.0,1130.0,42.387270,-83.208856
285036,2011-12-27 13:35:00,2012-01-26 09:00:00,50.0,20.0,10.0,5.0,0.0,0.0,85.0,42.387270,-83.208856
285037,2011-12-27 13:35:00,2012-01-26 09:00:00,100.0,20.0,10.0,10.0,0.0,0.0,140.0,42.387270,-83.208856
285034,2011-12-27 13:35:00,2012-01-26 10:30:00,500.0,20.0,10.0,50.0,0.0,0.0,580.0,42.387270,-83.208856
285106,2011-12-27 14:50:00,2012-02-03 09:00:00,200.0,20.0,10.0,20.0,0.0,0.0,250.0,42.440228,-83.154829
284650,2011-12-29 09:50:00,2012-01-09 09:00:00,1000.0,20.0,10.0,100.0,0.0,0.0,1130.0,42.406293,-83.171850
285125,2011-12-29 09:30:00,2012-01-25 09:00:00,500.0,20.0,10.0,50.0,0.0,0.0,580.0,42.366529,-83.141897
284881,2011-12-29 11:30:00,2012-02-07 13:30:00,200.0,20.0,10.0,0.0,0.0,0.0,230.0,42.422081,-83.038656
284333,2011-12-30 14:20:00,2012-01-05 09:00:00,200.0,20.0,10.0,20.0,0.0,0.0,250.0,42.438867,-82.959888

In [78]:
y_train1.head(2)

ticket_id
22056    0.0
27586    1.0
Name: compliance, dtype: float64

In [80]:
test1.columns

Index(['ticket_issued_date', 'hearing_date', 'fine_amount', 'admin_fee',
       'state_fee', 'late_fee', 'discount_amount', 'clean_up_cost',
       'judgment_amount', 'lat', 'lon'],
      dtype='object')

In [81]:
train1.columns

Index(['ticket_issued_date', 'hearing_date', 'fine_amount', 'admin_fee',
       'state_fee', 'late_fee', 'discount_amount', 'clean_up_cost',
       'judgment_amount', 'lat', 'lon'],
      dtype='object')

In [84]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

In [85]:
train1=train1.drop(['ticket_issued_date', 'hearing_date'],axis=1)

In [86]:
test1=test1.drop(['ticket_issued_date', 'hearing_date'],axis=1)

In [89]:
train1.head(2)

,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,lat,lon
ticket_id,,,,,,,,,
22056,250.0,20.0,10.0,25.0,0.0,0.0,305.0,42.390729,-83.124268
27586,750.0,20.0,10.0,75.0,0.0,0.0,855.0,42.326937,-83.135118

In [91]:
train1=train1.drop(['discount_amount','clean_up_cost'],axis=1)
test1=test1.drop(['discount_amount','clean_up_cost'],axis=1)

In [92]:
train1.head(2)

,fine_amount,admin_fee,state_fee,late_fee,judgment_amount,lat,lon
ticket_id,,,,,,,
22056,250.0,20.0,10.0,25.0,305.0,42.390729,-83.124268
27586,750.0,20.0,10.0,75.0,855.0,42.326937,-83.135118

In [100]:
train1.lat.fillna(method='pad',inplace=True
                 )

In [105]:
train1.lon.fillna(method='pad',inplace=True
                 )

In [106]:
test1.lat.fillna(method='pad',inplace=True)
test1.lon.fillna(method='pad',inplace=True
                 )

In [107]:
grid_values = {'learning_rate': [0.01, 0.1, 1], 'max_depth': [3, 4, 5]}
clf = GradientBoostingClassifier(random_state = 0)
grid_clf_auc = GridSearchCV(clf, param_grid = grid_values, scoring = 'roc_auc')
grid_clf_auc.fit(train1, y_train1)
probs = grid_clf_auc.predict_proba(test1)[:, 1]
result = pd.Series(probs, index=test1.index)

In [108]:
result

ticket_id
284932    0.053212
285362    0.021257
285361    0.059278
285338    0.078960
285346    0.085650
285345    0.078960
285347    0.080294
285342    0.390298
285530    0.027699
284989    0.035891
285344    0.077245
285343    0.034473
285340    0.034998
285341    0.080294
285349    0.085650
285348    0.078960
284991    0.035891
285532    0.030662
285406    0.027174
285001    0.056100
285006    0.047356
285405    0.021257
285337    0.026024
285496    0.062088
285497    0.063977
285378    0.022632
285589    0.031317
285585    0.053859
285501    0.067571
285581    0.022046
            ...
376367    0.027796
376366    0.033436
376362    0.033510
376363    0.056241
376365    0.027796
376364    0.033436
376228    0.056147
376265    0.030319
376286    0.369942
376320    0.037756
376314    0.028732
376327    0.440511
376385    0.419648
376435    0.538221
376370    0.440511
376434    0.064002
376459    0.072308
376478    0.018545
376473    0.037266
376484    0.035544
376482    0.032769
376480    0.032769
376479    0.032769
376481    0.032769
376483    0.040380
376496    0.022535
376497    0.022535
376499    0.057127
376500    0.057127
369851    0.293320
dtype: float64

In [110]:
blight_model()

ticket_id
284932    0.053212
285362    0.021257
285361    0.059278
285338    0.078960
285346    0.085650
285345    0.078960
285347    0.080294
285342    0.390298
285530    0.027699
284989    0.035891
285344    0.077245
285343    0.034473
285340    0.034998
285341    0.080294
285349    0.085650
285348    0.078960
284991    0.035891
285532    0.030662
285406    0.027174
285001    0.056100
285006    0.047356
285405    0.021257
285337    0.026024
285496    0.062088
285497    0.063977
285378    0.022632
285589    0.031317
285585    0.053859
285501    0.067571
285581    0.022046
            ...
376367    0.027796
376366    0.033436
376362    0.033510
376363    0.056241
376365    0.027796
376364    0.033436
376228    0.056147
376265    0.030319
376286    0.369942
376320    0.037756
376314    0.028732
376327    0.440511
376385    0.419648
376435    0.538221
376370    0.440511
376434    0.064002
376459    0.072308
376478    0.018545
376473    0.037266
376484    0.035544
376482    0.032769
376480    0.032769
376479    0.032769
376481    0.032769
376483    0.040380
376496    0.022535
376497    0.022535
376499    0.057127
376500    0.057127
369851    0.293320
dtype: float64

In [112]:
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(train1)
X_test_scaled = scaler.transform(test1)
    
clf = MLPClassifier(hidden_layer_sizes = [100, 10], alpha = 5,
                       random_state = 0, solver='adam', verbose=0)
#   clf = DecisionTreeClassifier()
clf.fit(X_train_scaled, y_train1)

test_proba = clf.predict_proba(X_test_scaled)[:,1]
result1 = pd.Series(test_proba, index=test1.index)

In [113]:
result1

ticket_id
284932    0.070297
285362    0.070297
285361    0.070297
285338    0.070297
285346    0.070297
285345    0.070297
285347    0.070297
285342    0.070297
285530    0.070297
284989    0.070297
285344    0.070297
285343    0.070297
285340    0.070297
285341    0.070297
285349    0.070297
285348    0.070297
284991    0.070297
285532    0.070297
285406    0.070297
285001    0.070297
285006    0.070297
285405    0.070297
285337    0.070297
285496    0.070297
285497    0.070297
285378    0.070297
285589    0.070297
285585    0.070297
285501    0.070297
285581    0.070297
            ...
376367    0.070297
376366    0.070297
376362    0.070297
376363    0.070297
376365    0.070297
376364    0.070297
376228    0.070297
376265    0.070297
376286    0.070297
376320    0.070297
376314    0.070297
376327    0.070297
376385    0.070297
376435    0.070297
376370    0.070297
376434    0.070297
376459    0.070297
376478    0.070298
376473    0.070297
376484    0.070297
376482    0.070297
376480    0.070297
376479    0.070297
376481    0.070297
376483    0.070297
376496    0.070297
376497    0.070297
376499    0.070297
376500    0.070297
369851    0.070297
dtype: float64